.table {
    border-collapse: collapse;
    width: 280mm;
}

.table, th, td {
    border: 1px solid black;
}

.table__cell {
    display: flex;
    flex-direction: row;
    padding: 3px;
    justify-content: center;
    align-items: center;
}

.common-statistics__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30mm;
    height: 10mm;
}

.common-statistics__header {
    font-weight: bold;
}

.common-statistics__header, .common-statistics__value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}